<a href="https://colab.research.google.com/github/eat-toast/doit_pandas-master/blob/master/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3 판다스 데이터 프레임과 시리즈

## 3-1 나만의 데이터 만들기

In [0]:
# 문자열을 인덱스로 지정하기

import pandas as pd

In [0]:
s = pd.Series(['A', 'B'])
print(s)

0    A
1    B
dtype: object

In [0]:
s = pd.Series(['A', 'B'], index = ['Person', 'Who'])
print(s)

Person    A
Who       B
dtype: object

DataFrame을 만들때 넣었던 순서와는 관계없이 <br>
index에 들어가는 순서가 최종 col의 순서를 결정

In [0]:
scientist = pd.DataFrame(
            data = {'Occupation': ['Chemist', 'Statistician'],
                   'Born': ['1920-07-25', '1876-06-13'],
                   'Died': ['1958-04-16', '1937-10-16'],
                   'Age': [37, 61]},
            index = ['Rosaline Franklin', 'William Gosset'],
            columns = ['Occupation', 'Born', 'Age', 'Died'])

print(scientist)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

그런데, 딕셔너리는 순서를 보장하지 않으니<br>
OrderDict를 이용해 순서를 보장해야 한다. (pass)

# 3-2 시리즈 다루기 - 기초

In [0]:
# 시리즈를 선택하고
# 정말 시리즈를 선택한 것인지 확인하자

first_row = scientist.loc['William Gosset']

print(type(first_row))

<class 'pandas.core.series.Series'>

In [0]:
# 출력하면 자료형은 Object이다. 
# Age도 Object가 되버린것! 
print(first_row)

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

### 시리즈 속성과 메서드 이용하기 - index, values, keys

In [0]:
# 1. index 속성 사용하기
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [0]:
# 2. values 속성 사용하기
print(first_row.values)

['Statistician' '1876-06-13' 61 '1937-10-16']

In [0]:
# 3. keys 메서드 이용하기
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [0]:
# 4. index 속성 응용
print(first_row.index[0])

Occupation

In [0]:
# 5. keys 매서드 응용
print(first_row.keys()[0])

Occupation

### 시리즈의 기초통계 매서드 사용하기

In [0]:
# Age 추출
ages = scientist['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [0]:
# 시리즈를 구성하느 내용이 정수라면, mean, min, max, std와 같은 기초 통계량을 구할 수 있다.
print('평균 나이', ages.mean())
print('최솟값', ages.min())
print('최댓값', ages.max())
print('표준편차', ages.std())

평균 나이 49.0
최솟값 37
최댓값 61
표준편차 16.97056274847714

### 시리즈 매서드 정리

In [0]:
# append : 두개 이상의 시리즈로 연결
# 연결한 뒤, 인덱스가 문제다.
ages2 = pd.Series([37,61])
ages3 = ages.append(ages2)
print(ages3)

Rosaline Franklin    37
William Gosset       61
0                    37
1                    61
dtype: int64

In [0]:
# describe : 요약 통계량 계산
scientist.describe()

             Age
count   2.000000
mean   49.000000
std    16.970563
min    37.000000
25%    43.000000
50%    49.000000
75%    55.000000
max    61.000000

In [0]:
# drop_duplicates : 중복이 없는 시리즈 반환
# 인덱스가 다르면 중복이 제거되지 않는다.
print(ages3.drop_duplicates)

<bound method Series.drop_duplicates of Rosaline Franklin    37
William Gosset       61
0                    37
1                    61
dtype: int64>

In [0]:
# equals : 시리즈에 해당하는 값을 가진 요소가 있는지 확인
# 책설명이 잘못된것 같다. --> 시리즈끼리 같은지 검사
ages.equals(ages)

True

In [0]:
# get_values : values과 동일
print(ages.get_values())

[37 61]

In [0]:
# isin : 시리즈에 포함된 값이 있는지 확인
print(ages.isin([61, 37]))
print('------------------------')
print(ages.isin([37, 61]))

Rosaline Franklin    True
William Gosset       True
Name: Age, dtype: bool
------------------------
Rosaline Franklin    True
William Gosset       True
Name: Age, dtype: bool

In [0]:
# median : 중간값 반환
print(ages.median())

49.0

In [0]:
# replace : 특정 값을 가진 시리즈 값을 교체
ages.replace(61, 100)

Rosaline Franklin     37
William Gosset       100
Name: Age, dtype: int64

In [0]:
# sample : 랜덤으로 값 반환
print(ages.sample())
print('----------------')
print(ages.sample(4, replace = True))

Rosaline Franklin    37
Name: Age, dtype: int64
----------------
Rosaline Franklin    37
Rosaline Franklin    37
William Gosset       61
William Gosset       61
Name: Age, dtype: int64

In [0]:
# sort_values : 값 정렬
ages.sort_values()

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [0]:
# to_frame : 시리즈를 데이터 프레임으로 변환
ages.to_frame()

                   Age
Rosaline Franklin   37
William Gosset      61

# 3-3 시리즈 다루기 - 응용

In [0]:
# 코랩에서 데이터 불러오는 법을 모르겠다.

### 시리즈와 브로드 캐스팅

R의 apply 연산처럼 한번에 하는 벡터연산을 Python에서 브로드 캐스팅이라고 한다.

In [0]:
print(ages + ages)

Rosaline Franklin     74
William Gosset       122
Name: Age, dtype: int64

In [0]:
# 길이가 다른 벡터를 연산하면 어떻게 될까?
# 인덱스가 일치한 부분만 계산
print(ages + pd.Series([1], index = ['Rosaline Franklin']))

Rosaline Franklin    38.0
William Gosset        NaN
dtype: float64

In [0]:
# 역으로 정렬된 rev_ages와 ages를 연산하면 어떤 결과가 나올까?
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)

William Gosset       61
Rosaline Franklin    37
Name: Age, dtype: int64

In [0]:
# 역순으로 해도 같은 인덱스 끼리 연산을 한다. 
print('비교 1: ', ages*2)
print('-----------------')
print('비교 2: ', ages + rev_ages)

비교 1:  Rosaline Franklin     74
William Gosset       122
Name: Age, dtype: int64
-----------------
비교 2:  Rosaline Franklin     74
William Gosset       122
Name: Age, dtype: int64

# 3-5 시리즈와 데이터 프레임의 데이터 처리하기

### Born과 Died의 자료형 변경하기

In [0]:
# Born과 Died의 자료형 변경하기
print(scientist['Born'].dtype)
print(scientist['Died'].dtype)

object
object

In [0]:
# 날자에 맞는 포맷을 적용한다.
born_datetime = pd.to_datetime(scientist['Born'], format = '%Y-%m-%d')
print(born_datetime)

print('-------------------')

died_datetime = pd.to_datetime(scientist['Died'], format = '%Y-%m-%d')
print(died_datetime)

Rosaline Franklin   1920-07-25
William Gosset      1876-06-13
Name: Born, dtype: datetime64[ns]
-------------------
Rosaline Franklin   1958-04-16
William Gosset      1937-10-16
Name: Died, dtype: datetime64[ns]

In [0]:
# 새로운 열로 추가
scientist['born_dt'], scientist['died_dt'] = (born_datetime, died_datetime)

In [0]:
print(scientist.shape) # 2개가 추가 되었다.
print(scientist.head())

(2, 6)
                     Occupation        Born  Age        Died    born_dt  \
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16 1920-07-25
William Gosset     Statistician  1876-06-13   61  1937-10-16 1876-06-13

                     died_dt
Rosaline Franklin 1958-04-16
William Gosset    1937-10-16

In [0]:
# 차이를 통해 과학자들이 얼마동안 세상을 살았는지 확인
scientist['age_day_dt'] = (scientist['died_dt'] - scientist['born_dt'])
print(scientist)

                     Occupation        Born  Age        Died    born_dt  \
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16 1920-07-25
William Gosset     Statistician  1876-06-13   61  1937-10-16 1876-06-13

                     died_dt age_day_dt
Rosaline Franklin 1958-04-16 13779 days
William Gosset    1937-10-16 22404 days

### 데이터 섞기

In [0]:
import random

In [0]:
#random.seed(42)
random.shuffle(scientist['Age'])
print(scientist['Age'])

Rosaline Franklin    61
William Gosset       37
Name: Age, dtype: int64

/usr/lib/python3.6/random.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

### 열 삭제하기

In [0]:
df_dropped = scientist.drop(['Age'], axis = 1)
print(df_dropped)

                     Occupation        Born        Died    born_dt    died_dt  \
Rosaline Franklin       Chemist  1920-07-25  1958-04-16 1920-07-25 1958-04-16
William Gosset     Statistician  1876-06-13  1937-10-16 1876-06-13 1937-10-16

                  age_day_dt
Rosaline Franklin 13779 days
William Gosset    22404 days

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64